        body {
        background-color: #EAF6F6;
        }
        hr{
        border-style:none;
        border-top-style:dotted;
        background-color:#EAF6F6;
        border-height:0px;
        border-width:5px;
        border-color:grey;
        width:5%
 }
 h1{
 color:#66BFBF
 }
 h3{
 color:#49D8FC
 }
